@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: none;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}

/* nav bar styling */
nav {
  height: 80px;
  background: rgb(255, 255, 255);
  font-family: "Ubuntu", sans-serif;

}
nav img {
  width: 98px;
  height: 69px;
  position: absolute;
  top: 8px;
  left: 20%;
}
nav ul {
  float: right;
  margin-right: 25px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  color: black;
  font-size: 18px;
  padding: 5px 0;
  text-transform: capitalize;
}
nav ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.534);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s linear;
}
nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,
#cancel {
  color: black;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* footer styling  */
/* footer section  */

#footer1 {
  background: #002a32;
  padding: 20px 23px;
  color: #fff;
  position: relative;
  bottom: 0;
}
#footer1 span a {
  color: crimson;
  text-decoration: none;
}
#footer1 span a:hover {
  text-decoration: underline;
}

/* media qurey start */

@media (max-width: 1118px) {
  nav img {
    left: 20%;
  }
}
@media (max-width: 944px) {
  nav img {
    left: 20%;
    top: 20px;
    width: 90px;
  }
  nav ul li a {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #3daac5;
    top: 90px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}